@model IEnumerable<ClientSystem.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h2 style="text-align:center">User List</h2>
<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                SL
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>

            <th>
                @Html.DisplayName("Age")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Phone")
            </th>
        </tr>
    </thead>
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ i++; }
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFirstName)
                @Html.DisplayFor(modelItem => item.UserLastName)
            </td>
            <td>
                @Convert.ToInt16(DateTime.Now.Year - item.UserDOB.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhone)
            </td>
        </tr>
    }

</table>
